{% block element_hmnet_form %}
	{% if element.data %}
		{% set formData = element.data %}

		{% include '@HMnetForms/storefront/hmnet-form/hmnet-form.html.twig' with { formData: formData } %}
	{% else %}
		<div class="alert alert-warning">
			Formular nicht gefunden
		</div>
	{% endif %}
{% endblock %}
