{% block hmnet_forms_list %}
	<sw-page class="hmnet-forms-list">
		{% block hmnet_forms_list_smart_bar_header %}
			<template #smart-bar-header>
				<h2>
					{% block hmnet_forms_list_smart_bar_header_title %}
						{{ $tc('hmnet-forms.list.title') }}
					{% endblock %}

					{% block hmnet_forms_list_smart_bar_header_amount %}
						<span v-if="!isLoading" class="sw-page__smart-bar-amount">
							({{ total }})
						</span>
					{% endblock %}
				</h2>
			</template>
		{% endblock %}

		{% block hmnet_forms_list_smart_bar_actions %}
			<template #smart-bar-actions>
				{% block hmnet_forms_list_smart_bar_actions_add %}
					<mt-button @click="$router.push({ name: 'hmnet.forms.create' })" variant="primary" size="default">
						{{ $tc('hmnet-forms.list.buttonAddForm') }}
					</mt-button>
				{% endblock %}
			</template>
		{% endblock %}

		{% block hmnet_forms_list_language_switch %}
			<template #language-switch>
				<sw-language-switch @on-change="onChangeLanguage"/>
			</template>
		{% endblock %}

		<template #content>
			{% block hmnet_forms_list_content %}
				<div class="hmnet-forms-list__content">
					{% block hmnet_forms_list_grid %}
						<sw-entity-listing v-if="forms?.length" :items="forms" :columns="columns" :repository="formRepository" :show-selection="false" :detail-route="'hmnet.forms.detail'" :is-loading="isLoading" @page-change="onPageChange">

							<template #column-createdat="{ item }">
								<sw-time-ago :date="item.createdAt"/>
							</template>

							<template #column-updatedat="{ item }">
								<sw-time-ago v-if="item.updatedAt" :date="item.updatedAt"/>
							</template>
						</sw-entity-listing>
					{% endblock %}

					{% block hmnet_forms_list_empty_state %}
						<mt-empty-state v-else class="mt-empty-state--center" :headline="$t('hmnet-forms.list.emptyStateTitle')" :icon="$route.meta.$module.icon" :description="$t('hmnet-forms.list.emptyStateDescription')"/>
					{% endblock %}
				</div>
			{% endblock %}
		</template>
	</sw-page>
{% endblock %}
